<?xml version='1.0' encoding='utf-8'?>
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
        "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">

<hibernate-configuration>
	<session-factory>
		<!-- 
		<event type="merge">
			<listener
				class="cn.com.firmlink.hrms.db.listener.MergeListener" />
		</event>
		<event type="save">
			<listener
				class="cn.com.firmlink.hrms.db.listener.InsertOrUpdateListener" />
		</event>
		<event type="update">
			<listener
				class="cn.com.firmlink.hrms.db.listener.InsertOrUpdateListener" />
		</event>
		<event type="save-update">
			<listener
				class="cn.com.firmlink.hrms.db.listener.InsertOrUpdateListener" />
		</event>
		 -->
	</session-factory>
</hibernate-configuration>

